*, .gallery {
    background-color: #142638;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: white;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px;
}

.header-left {
    display: flex;
    align-items: center;
}

.page {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.page-left {
    margin-left: 100px;
    margin-right: 80px;
    display: flex;
    flex-direction: column;
    height: 50vh;
    justify-content: space-around;
}

.page-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons-des, #go-back-button {
    text-decoration: none;
    background-color: #fecb00;
    color: black;
    padding: 10px;
    font-size: large;
    font-weight: bold;
    border-radius: 30px;
    margin: 7px;
    
}

.buttons-des:hover, #go-back-button:hover {
    text-decoration: underline;
}

#sweden-img {
    max-width: 500px;
}

#go-back-button {
    position: absolute;

}

